.App {
  height: 100vh;
  background-color: lightgrey;
}

.App-header {
  color: black;
  height: 30vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: lightpink;
}

.logoStyle {
  height: 25vh;
}

.contactDiv {
  display: flex;
  /* Fixa så att texten hamnar lite längre ner */
}

.contactDiv p {
  margin: 1rem;
}